.header__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid #c0bfbf;
    padding-left: 10px;
}

.header__right {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.header__right-notification {
    display: flex;
    align-items: center;
}

.header__right__account {
    padding-left: 10px;
}

.header__right__account__infor {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
